
header{
    background: #253e63;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}
#headBar{
    height: 15vh;
    .link{
        text-decoration: none;
        color: whitesmoke;
    }

    display: grid;
    grid-template-columns: 1fr max(50%) 1fr;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    background: rgba($color: #253e63, $alpha: 1.0);
    color: whitesmoke;
    #logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 1.4em;
        text-align: end;
        padding-right: 3em;
        
    }
    #hamburgerBtn{
        display: none;
    }
    #nav{
        
        .navList{
            list-style: none;
            display: flex;
            gap:3em;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0em;
            margin: 0;
            height: 100%;
            opacity: 80%;

            .nav-item{
                padding: 0;
                margin: 0;
            }
        }
    }

    #myProperty{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.5em;
    }
    #post{
        text-transform: uppercase;
        font-size: 12px;
    }
}
//multiused classes 
.pinkBtn{
    background: #fa6d8e;
    color: whitesmoke;
    border: none;
    border-radius: 2em;
    padding: 1em 2em;
}
.sectionLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5em;
    justify-content: center;
    align-items: start;
    padding: 3em 10%;
    background: white;
    width: auto;
}
.item-block{
    flex-grow: 1;
    width: 100%;
    .itemTitle{
        text-transform: uppercase;
        color: #3e77c2;
        letter-spacing: 4px;
        font-weight: 700;
    }
    .content{
        line-height: 1.6;
        color: grey;
        max-width: 100%;
    }
}
.primaryText{
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}
.subText{
    color: rgb(151, 150, 150);
    font-weight: 500;
    display: block;
    text-align: center;
}
//1st section : ad
#ad{
    flex-grow: 1;
    height: 83vh;
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    
    overflow: hidden;
    h1{
        color: whitesmoke;
        font-size: 4em;  
        line-height: 1.2;
        
        span{
            display: block
        };
    }
    #signUp{
        padding: 1em 4em;
        text-transform: uppercase;
        font-size: .8em;
    }
    #adImg{

        img{
            transform: scale(1.3) translateY(4em);
        }
    }
}

#introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #title-block{
        text-align: center;
        padding: 2em 0;
        margin: 2em 0;
        span{
            font-size: 2.5em;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    #video-block{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 4em;
        img{max-width: 45%;}
        
    }
   
}

#solution{
    background: rgb(248, 247, 247);
    #solutionTitle{
        margin: 4em 0;
        span{
            display: block;
            text-align: center;
        }
    }
    #app-block{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5em;
        img{
            max-width: 50%;
            box-shadow: -1px 15px 46px -20px rgba(0,0,0,0.75);
        }
    }
    
}

#toolSection{
    background: #25497a;
    padding-bottom: 4em;
    #toolTitle{
        padding: 4em 0;
        
        .primaryText{
            color: whitesmoke;
        }
        .subText{
            max-width:50%;
            margin:0 auto;
            color: #bfdbff;
        }
    }
    #toolContent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2em;
        width: 60%;
        margin: auto;
        .textContent{
            .fas{
                color: #bfdbff;
                opacity: .8;
                padding: 0 10px;
                
            }
            .article{
                width: 100%;
                span{
                    display: block;
                    text-transform: uppercase;
                    line-height: 1.5;
                    color: whitesmoke;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                p{
                    font-size: .8em;
                    color: #bfdbff;
                    opacity: .8;
                }
            }
        }
        .contentLeft{
            text-align: end;
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            padding-top: 4em;
        }
        .contentRight{
            text-align: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding-top: 4em;
        }
        .imgContent{
            grid-row: 1 / 4;
            grid-column: 2 /3;
            margin: auto;
            img{
                border-radius: 5%;
            }
        }
    }
}

#clientsSection{
    border-bottom: 2px solid lightgrey;
    .title{
        padding: 5em 0 2em 0;
        
    }
    .brand{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4em;
        align-items: center;
        width: auto;
        margin: 1em auto 8em auto;
        .brandItem{
            width: auto;
            height: 5em;
            flex-grow: 1;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            .brandIMG{
                max-width: 10em;
                opacity: .2;
            }
        }
    }
}

#feedbackSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10em 5rem;
    width: auto;
    
    .leftArrow ,.rightArrow{
        opacity: .3;
        padding: 0 3em;
    }
    .feedbackContent{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 1em;
        width: auto;

        .authorIMG{
            img{
                width: 8em;
                height: 8em;
                border-radius: 50%;
                object-fit: cover; 
            }
        }
        .mainfeedback{
            width: 70%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            .feedback{
                font-size: 1.5em;
                color: gray;
                
            }
            .customerInfo{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;
                margin-top: 2em;
                position: absolute;
                
                .companyLogo{
                   
                    img{
                        width: 1.7em;
                        height: 1.7em;
                        border-radius: 50%;
                        object-fit: cover;
                        
                    }
                }
                .name_occupation{
                    display: flex;
                    flex-direction: column;
                    span:nth-child(1){
                        color: #3e77c2;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    span:nth-child(2){
                        font-size: .7em;
                    }
                }
            }
        }
    }
}



#register{
    background: rgb(248, 247, 247);
    padding: 1em;
    width: auto;
    #registerTitle{
        padding-top: 3em;
        transform: scale(.8);
    }
    .registerForm{
        padding: 3em 0 ;
        width: auto;
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5em;
            input{
                height: 100%;
                border-top-left-radius: 2em;
                border-bottom-left-radius: 2em;
                border: 2px solid lightgrey;
                width: 15em;
               
                
                &::placeholder{
                    color: lightgrey;
                    font-weight: 400;
                    font-size: 1em;
                    padding: 0 1em;
                    
                }
            }
            button{
                background: #3e77c2;
                color: whitesmoke;
                text-transform: uppercase;
                font-weight: 500;
                font-size: .6em;
                padding: 0 3em ;


                height: 100%;
                
                
                border: 2px solid #3e77c2;
                border-bottom-right-radius: 2em;
                border-top-right-radius: 2em;
            }
        }
    }
}


#appDownload{
    margin: 4em 0;
    .appIcon{
        
        img{
            width: 8em;
            height: 8em;
            margin: auto;
        }
    }

    #appText{
       margin: 1em 0; 
       transform: scale(.8);
    }
    .downloadBtn{
        background: #308aff;
        color: whitesmoke;
        width: 7em;
        margin: auto;
        padding: .2em .4em;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        text-align: end;
        border-radius: 5px;
        span:nth-last-child(2){
            display: block;
            font-size: .6em;
            line-height: 1;
        }
        span:nth-last-child(1){
            display: block;
            letter-spacing: 1px;
            font-weight: 500;
            line-height: 1;
        }
        i{
            position: absolute;
            left: auto;
            transform: scale(1.5) translateX(-3.5em) translateY(3px);
        }
    }
}

#footer{
    height: 10em;
    background: #253e63;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    width: auto;
    
    .logo{
        margin: 1em;
        span{
            font-size: 1em;
            font-weight: 600;
            color: whitesmoke;
        }
    }
    .internalLinks{
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: center;
        
        div{
            width: 100%;
            ul{
                list-style: none;
                padding:0 1em;
                
                a{
                    text-decoration: none;
                    color: #bfdbff;
        
                    li{
                        text-transform: uppercase;
                        font-size: .5em;
                        font-weight: 600;
                        letter-spacing: 1px;
                        line-height: 3;
                    }
                }
            }
        }
        
        
    }
    .social{
        display: flex;
        flex-direction: row;
        margin: 1em;
        div{
            background: #1a3255;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(.7);
            i{
                color: #3e77c2;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .description{
        flex-wrap: wrap;
    }
    
    #feedbackSection{
        padding: 5em 0;
    }
    .feedbackContent{
        
        flex-direction: column !important;
        width: 100% !important;
        
        .authorIMG{
            width: 100% !important;
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }
        .mainfeedback{
            width: 100% !important;
            flex-grow: 1;
        }
    }
    #toolSection{
        #toolContent{
            display: flex;
            flex-direction: column;
           .imgContent{
               grid-row: 1 / 4;
               grid-column: 1 / 2;
               img{
                   max-width: 50%;
                   margin: auto;
               }
           } 
        }

    }
    .appear{
        transform: translateX(0) !important;
    }
    #headBar{
        display: flex;
        flex-direction: column;
        height: 7em !important;
        margin-bottom: 1em;

        #hamburgerBtn{
            display: block;
            width: 1.5em;
            height: 5px;
            background: lightgrey;
            border-radius: 1em;
            
            position: absolute;
            z-index: 4;
            left: 1em;
            top: 3em;
            &::before{
                display: block;
                width: 1.5em;
                height: 5px;
                content: "";
                background: lightgrey;
                border-radius: 1em;
                transform: translateY(-8px);
            }
            &::after{
             display: block;
             width: 1.5em;
             height: 5px;
             content: "";
             background: lightgrey;
             border-radius: 1em;
             transform: translateY(3px);
            }
         }
        #nav{
            transform: translateX(-100em);
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 60vw;
            background: whitesmoke;
            padding-top: 7em;
            z-index: 2;
            transition: 1s ease;
            
            ul{
                display: flex;
                flex-direction: column;
                gap: 1em !important;
                align-items: flex-start !important;
                padding-left: 1em !important;
                opacity: 100% !important;
                color: #25497a;
                li{
                    
                    a{
                    color: #1a3255;
                    text-transform: uppercase;
                    font-weight: 500;
                    }
                }
            }
            
        }
        #myProperty{
            position: absolute;
            z-index: 3;
            left: 1em;
            transform: translateX(-100em);
            transition: 1s ease;
            #signIn{
                position: absolute;
                z-index: 3;
                top: 15em;
                left: 2.6em;
                width: max-content;
                a{
                    color: #1a3255;
                    text-transform: uppercase;
                    font-weight: 700;
                    
                }
            }
            #post{
                position: absolute;
                top: 23em;
                width: max-content;
            }
        }
    }



    #ad{
        
        h1{
            font-size: 3em;
        }
    }



    #footer{
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        text-align: center;
        gap: 0;
        .internalLinks{
            flex-direction: column;
            gap: 0;
            div{
                padding: 0;
                li{
                    font-size: 1em !important;
                    letter-spacing: 4px;
                }
            }
        }
        .social{
            transform: scale(1.3);
            margin: 1em auto;
        }
        .logo{
            span{
                font-size: 2em;
            }
        }
    }
}
